

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Samuel.Rakoton</title>

	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


	<link rel = "stylesheet" type = "text/css" href = "/style.css" /> 

</head>



<body>


<!-- Top Section -->

		<div class="topleft"></div>
		<!-- Top Section Left  Empty-->
		<div class="topright">
		<!-- Top Section Right  MENU-->
				<ul>
					<li ><a href="index">Home</a></li>
					<li ><a href="/user/skills">Skills</a></li>
					<li ><a href="contact">Contact</a></li>
					
				</ul>
		</div>
<!-- Middle Section -->

	    <div  class="Middle">

	        <h1 id="Golden">DEVELOPER <br> FullStack <sub>Jr</sub></h1>

	    </div>

<!-- Bottom Section -->

<div class="Bottom">

	<div class="Bottom-Top">
			<a href="#Download Resume">Download Resume</a>
	</div>


	<div class="Bottom-Bottom">
	<a id="Download" href="http://www.linkedin.com/in/samuel-rakoton29" target="_blank" >Linked <i class="fab fa-linkedin-in"></i>
				</a>
	</div>


</div>

</body>

</html>

